{% extends "layout.html" %}

{% block title %}
{{ super() }}
Admin
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Hello {{ current_user.fullname }}</h1>

{% if notifies %}
{% for notify in notifies %}
<ul class="list-group">
    <li class="list-group-item notify">
        <div>
            <span class="badge">{{ notify.on_create | datetime }}</span>
        </div>
        <div>
            <h3>{{ notify.title }}</h3>
            <p>{{ notify.content }}</p>
        </div>
    </li>
</ul>
{% endfor %}
{% else %}
<h2>No notify</h2>
{% endif %}

{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}
