{% extends "layout.html"  %}

{% block title %}
{{ super() }}
Admin Management
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="tabs">
    <div class="tab-button-outer">
        <ul id="tab-button">
            <li><a href="#user">User</a></li>
            <li><a href="#survey-class">Survey Class</a></li>
            <li><a href="#survey-card">Survey Card</a></li>
            <li><a href="#upload">Upload</a></li>
        </ul>
    </div>
    <div class="tab-select-outer">
        <select id="tab-select">
            <option value="#user">User</option>
            <option value="#survey-class">Survey Class</option>
            <option value="#survey-card">Survey Card</option>
            <option value="#upload">Upload</option>
        </select>
    </div>

    {% include "admin/user.html" %}
    {% include "admin/survey-class.html" %}
    {% include "admin/survey-card.html" %}
    {% include "admin/upload.html" %}

    <!-- Modal User -->
    <div id="userModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">User detail</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group ">
                        <label for="updateFormId">ID</label>
                        <input id="updateFormId" type="text" class="form-control" readonly>
                    </div>
                    <div class="form-group ">
                        <label for="updateFormUsername">Username</label>
                        <input id="updateFormUsername"type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="updateFormFullname">Fullname</label>
                        <input id="updateFormFullname" type="text" class="form-control">
                    </div>
                    <div class="form-group ">
                        <label for="updateFormEmail">Email</label>
                        <input id="updateFormEmail" type="text" class="form-control">
                    </div>
                    <div class="form-group ">
                        <label for="updateFormUserType">User Type</label>
                        <select class="form-control" id="updateFormUserType">
                            <option value="teacher" selected>Teacher</option>
                            <option value="student">Student</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="updateFormCourseId">Course ID</label>
                        <input id="updateFormCourseId" type="text" class="form-control">
                    </div>
                    <button class="btn btn-primary" onclick="admin.userManagement.onClickSubmit(this)">Update</button>
                    <button class="btn btn-danger" onclick="admin.userManagement.onClickDelete(this)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}

