<div id="survey-class" class="tab-contents clearfix">
    <div class="left">
        <fieldset>
            <legend>Review: </legend>
            <ul id="reviewClassSurvey">
            </ul>
        </fieldset>
    </div>

    <div class="right">
        <fieldset id="card-editor">
            <legend>Editor</legend>
            <fieldset id="selectSurveyClass">
                <legend>Search survey</legend>
                <div class="live-search">
                    <input class="form-control" type="text" placeholder="Enter survey" id="searchSurvey" onkeyup="admin.surveyClassManagement.onSearchEvent(this);">
                    <ul class="resultSurvey">
                    </ul>
                </div>
                </select>
            </fieldset>
            <hr>
            <fieldset id="addgroup">
                <legend>Add group</legend>
                <input class="form-control" type="text" id="newGroupName" placeholder="New group" />
                <button class="btn btn-primary" onclick="admin.surveyClassManagement.onClickAddGroup(this)">Add</button>
            </fieldset>
            <hr>
            <fieldset id="addcriteria">
                <legend>Add Criteria</legend>
                <input class="form-control" type="text" id="newCriterial" placeholder="New criteria" />
                <select id="group" class="form-control">
                </select>
                <button class="btn btn-primary" onclick="admin.surveyClassManagement.onClickAddCriterial(this)">Add</button>
            </fieldset>
            <hr>
            <fieldset id="submit">
                <legend>Submit</legend>
                <input class="form-control" type="text" id="nameSurveyClass" onkeyup="admin.surveyClassManagement.updateNameSurveyClass(this)" placeholder="Name survey class" value="name-survey" required />
                <button class="btn btn-primary" onclick="admin.surveyClassManagement.onClickSubmit(this)">Submit</button>
                <button class="btn btn-success" onclick="admin.surveyClassManagement.onClickUpdate(this)">Update</button>
                <button class="btn btn-danger" onclick="admin.surveyClassManagement.onClickReset(this)">Reset</button>
                <button class="btn btn-danger" onclick="admin.surveyClassManagement.onClickDelete(this)">Delete</button>
            </fieldset>
        </fieldset>

    </div>
</div>
