<div id="survey-card" class="tab-contents">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group live-search" onblur="admin.surveyCardManagement.onBlurSearch(this)">
            {{ create_survey_form.survey_class.label() }}
            {{ create_survey_form.survey_class(class="form-control", onkeyup="admin.surveyCardManagement.onSearchEvent(this)") }}
            <ul class="resultSurvey">
            </ul>
        </div>
        <div class="form-group files">
            {{ create_survey_form.excel.label() }}
            {{ create_survey_form.excel(class="form-control-file") }}
        </div>
        <div class="form-group btn-upload">
            {{ create_survey_form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
