<div id="upload" class="tab-contents">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group select-user-type">
            {{ form.user_type.label() }}
            {{ form.user_type(class="form-control") }}
        </div>
        <div class="form-group files">
            {{ form.excel.label() }}
            {{ form.excel(class="form-control-file") }}
        </div>
        <div class="form-group btn-upload">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
