<div id="user" class="tab-contents">
    <div class="top clearfix">
        <div class="input-group">
            <span class="input-group-addon">Search</span>
            <input id="searchUser" type="text" class="form-control" placeholder="Username" onkeyup="admin.userManagement.searchEvent(this)">
        </div>
    </div>
    <div id="table-user">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>User type</th>
                    <th>Course ID</th>
                    <th colspan="3" style="text-align: center;">Editor</th>
                </tr>
            </thead>
            <tbody>
                {% if users %}
                {% for user in users  %}
                <tr>
                    <td>{{ user.uid }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.user_type }}</td>
                    <td>{{ user.course_id }}</td>
                    <td class="behavior"><span onclick="admin.userManagement.onClickView(this)" class="glyphicon glyphicon-eye-open"></span></td>
                    <td class="behavior"><span onclick="admin.userManagement.onClickRemove(this)" class="glyphicon glyphicon-remove"></span></td>
                    <td class="behavior"><span onclick="admin.userManagement.onClickResetPassword(this)" class="glyphicon glyphicon-refresh"></span></td>
                    <tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
