{% extends "layout.html" %}

{% block title %}
{{ super() }}
Hồ sơ
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block content %}
<div id="profile">
    <table class="table table-hover">
        <tr>
            <td><strong>Username</strong></td>
            <td>{{ current_user.username }}</td>
        </tr>
        <tr>
            <td><strong>Fullname</strong></td>
            <td>{{ current_user.fullname }}</td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>{{ current_user.email }}</td>
        </tr>
        <tr>
            <td><strong>User type</strong></td>
            <td>{{ current_user.user_type }}</td>
        </tr>
        {% if current_user.user_type == 'student' %}
        <tr>
            <td><strong>Course ID</strong></td>
            <td>{{ current_user.course_id }}</td>
        </tr>
        {% endif %}
        <tr>
            <td><strong>Set password</strong></td>
            <td>
                <div class="form-group">
                    <input class="form-control" type="password" id="formSetPassword" placeholder="New Password" style="float: left; width: 300px; margin-right: 10px;"/>
                    <button id="formSubmit" class="btn btn-primary" onclick="site.onClickSetPassword(this)">Update</button>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}
