{% extends "layout.html" %}

{% block title %}
{{ super() }}
Đánh giá lớp môn học
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block content %}

<h3 id="id_class">{{ id_class }}</h3>

{% for group in schema %}

    <fieldset>
        <legend>{{ group["title"] }}</legend>
        <ul style="list-style-type: none; font-size: 1em;">
            {% for item in group["contents"] %}
                <li>
                    <h4>{{ item["title"] }}</h4>
                    <div class="item" style="display: flex; justify-content: space-around; align-items: center;">
                        <div class="radio" style="display: block; padding: 0; margin: 0">
                            <label><input type="radio" name="{{ group['title'] + item['title'] }}" value="1">1</label>
                        </div>
                        <div class="radio" style="display: block; padding: 0; margin: 0">
                            <label><input type="radio" name="{{ group['title'] + item['title'] }}" value="2">2</label>
                        </div>
                        <div class="radio" style="display: block; padding: 0; margin: 0">
                            <label><input type="radio" name="{{ group['title'] + item['title'] }}" value="3">3</label>
                        </div>
                        <div class="radio" style="display: block; padding: 0; margin: 0">
                            <label><input type="radio" name="{{ group['title'] + item['title'] }}" value="4">4</label>
                        </div>
                        <div class="radio" style="display: block; padding: 0; margin: 0">
                            <label><input type="radio" name="{{ group['title'] + item['title'] }}" value="5" checked>5</label>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </fieldset>

{% endfor %}

<button class="btn btn-primary" onclick="site.submitReview()">Submit</button>

{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}
