body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

div.card-container {
    width: 60%;
    margin: 0 auto;
}

.tabs {
    margin: 0 auto;
    padding: 0 20px;
}
#tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#tab-button li {
    display: table-cell;
    width: 20%;
}
#tab-button li a {
    display: block;
    padding: .5em;
    background: #eee;
    border: 1px solid #ddd;
    text-align: center;
    color: #000;
    text-decoration: none;
}
#tab-button li:not(:first-child) a {
    border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
    border-bottom-color: transparent;
    background: #fff;
}
.tab-contents {
    padding: .5em 2em 1em;
    border: 1px solid #ddd;
}

.tab-button-outer {
    display: none;
}
.tab-contents {
    margin-top: 20px;
}
@media screen and (min-width: 768px) {
    .tab-button-outer {
        position: relative;
        z-index: 2;
        display: block;
    }
    .tab-select-outer {
        display: none;
    }
    .tab-contents {
        position: relative;
        top: -1px;
        margin-top: 0;
    }
}

#user.tab-contents > * {
    padding: 10px 0 10px 0;
}

#user.tab-contents .top {
    border-bottom: 1px solid #d7d7d7;
}

#user.tab-contents .top div.input-group {
    max-width: 300px;
}

#user.tab-contents table tr td span {
    cursor: pointer;
}

#user.tab-contents table tr .behavior {
    text-align: center;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}

.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

#upload div.btn-upload, #upload div.select-user-type{
    padding-left: 7px;
}

#upload div.select-user-type select {
    max-width: 200px;
}

li.notify {
    margin-bottom: 10px;
}


#survey-class div.left {
    width: 70%;
    float: left;
    margin-right: 10px;
}


#survey-class div.right .form-control {
    margin-bottom: 10px;
}


.deleteCriterial, .deleteGroup {
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
    display: none;
    font-weight: 1px;
}

#survey-class #reviewClassSurvey li:hover > .deleteGroup,
#survey-class #reviewClassSurvey li:hover > .deleteCriterial {
    display: inline-block;
}

#reviewClassSurvey > li {
    margin-bottom: 10px;
}

div.live-search {
    width: 304px;
}

div.live-search input.form-control {
    margin-bottom: 0;
}


div.live-search > ul{
    list-style: none;
    padding: 0;
    position: fixed;
    width: 304px;
    background-color: rgba(255, 255, 255);
}

div.live-search > ul li.resultItem{
    margin: 0;
    padding: 7px 5px;
}

div.live-search > ul li.resultItem:hover{
    background-color: rgba(0, 161, 243, 0.5);
    cursor: pointer;
    font-weight: bold;
}

div.live-search > ul li.resultItem:hover > span.deleteSurvey{
    display: block;
}

div.live-search > ul li.resultItem span.deleteSurvey {
    float: right;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 16px;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    font-weight: bold;
    background-color: white;
    color: black;
    font-size: 10px;
    vertical-align: middle;
    display: none;
}
