<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}Class Survey - {% endblock %}</title>

        {% block style  %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')  }}">
        <link href="{{ url_for('static', filename='lib/toastr/toastr.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/bootstrap-3.3.7/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('site.index')  }}">Class Survey</a>
                </div>
                <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated %}
                        {% if current_user.user_type == 'admin' %}
                            <li class="active"><a href="{{ url_for('admin.index')  }}">Home</a></li>
                            <li><a href="{{ url_for('admin.management') }}">Management</a></li>
                        {% else %}
                            <li class="active"><a href="{{ url_for('site.index')  }}">Home</a></li>
                            <li><a href="{{ url_for('site.profile') }}">Profile</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="{{ url_for('site.about') }}">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.logout')  }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login')  }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div id="main" class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category  }}">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{ category  }}</strong> {{ message }}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <footer>
            <div class="text-center" style="margin-top: 50px;">
                <small>© 2018 Copyright: Nguyen Khac Thanh<small>
            </div>
        </footer>

        {% block script %}
        <script src="{{ url_for('static', filename='lib/jquery/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/toastr/toastr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
        {% endblock %}
    </body>
</html>
